.cases {
    &__wrapper {
        @include flex-column-s-c;
        height: 100%;

        & > h2 {
            color: $black_color;
            margin-bottom: 56px;
            text-align: center;
        }
    }

    &__accordion {
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 720px;
        gap: 20px;

        &_item {
            flex: 1;
            transition: flex 0.3s ease;
            position: relative;
            cursor: pointer;
            background: #f4f4f4;
            overflow: hidden;
            border-radius: 12px;
            opacity: .5;

            &.active {
                position: relative;
                flex: 9;
                opacity: 1;
            }
        }

        &_wrapper {
            padding: 56px;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &_content {
            display: flex;
            flex-direction: column;
            height: 0;
            overflow: hidden;
            transition: height 0.3s ease;
        
            a {
                font-size: 24px;
                font-weight: 500;
                border-radius: 50px;
                background: none;
                cursor: pointer;
                letter-spacing: 6%;
                padding: 16px 32px;

                transform: scale(0);
                transition: all 0.3s ease-in-out;

                &:last-child {
                    padding-top: 12px;
                    padding-bottom: 12px;
                    padding-left: 12px;
                    background-color: $white_color;
                    color: $black_color;
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    &:hover {
                        background-color: $light-color;
                    }

                    div:first-child {
                        width: 41px;
                        height: 41px;
                        border-radius: 50%;
                        background-color: $gray-color;
                    }
                }
            }

            h2 {
                color: $white_color;
                margin-bottom: 40px;
                transform: scaleX(0);
                transition: all 0.5s ease-in-out;
            }

            p {
                width: 516px;
                margin-bottom: 56px;
                transform: scaleY(0);
                transition: all 0.5s ease-in-out;
            }

            & > div {
                display: flex;
                align-items: center;
                gap: 32px;
            }
        }

        &_pagination {
            display: flex;
            align-items: center;

            div {
                width: 14px;
                height: 14px;
                background-color: $gray-color;
                border-radius: 50%;
                cursor: pointer;

                &:not(:last-child) {
                    margin-right: 24px;
                }

                &.active {
                    background-color: $primary_color;
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}

.cases__accordion_item.active .cases__accordion_content {
    height: auto;

    a {
        transform: scale(1);
        transition: all 0.3s ease-in-out;
        transition-delay: 0.3s;
    }

    h2 {
        transform: scaleX(1);
        transition: all 0.5s ease-in-out;
    }

    p {
        transform: scaleY(1);
        transition: all 0.5s ease-in-out;
    }
}