.categories {
    &__wrapper {
        height: 100%;
        padding: 112px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__header {
        display: flex;

        p {
            max-width: 690px;
            margin-top: 45px;
            color: #666666;
        }
    }

    &__title {
        margin-right: 166px;

        h2 {
            max-width: 544px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 0;
        justify-content: center;
        width: 100%;
        position: relative;
    }

    &__item {
        position: relative;
        width: 370px;
        height: 370px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $black-color;
        margin-left: -198px;
        background-color: #fff;
        border-radius: 50%;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        cursor: grab;

        h4 {
            color: #ff4400;
            transition: color 0.3s ease;
        }

        &:hover {
            transform: scale(1.1) rotate(5deg);
        }

        &:active {
            cursor: grabbing;
            z-index: 10;
            filter: drop-shadow(40px 32px 24px #00000030);
        }

        &:nth-child(even) {
            margin-top: 186px;
        }

        &:first-child {
            margin-left: 0;
        }
    }
}

.circle-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg); /* Начать сверху */
}

circle {
    stroke-dasharray: 1154; /* Периметр круга (2 * π * r) */
    stroke-dashoffset: 1154; /* Полностью скрываем обводку */
    transition: stroke-dashoffset 2s ease-in-out;
}

.categories__item.visible circle {
    stroke-dashoffset: 0; /* Показываем весь контур */
}