<section id="cases" class="cases">
    <div class="container">
        <div class="cases__wrapper">
            <h2>Наши проекты</h2>
            <div class="cases__accordion" id="accordion">
                <div class="cases__accordion_item active" data-index="1">
                    <div class="cases__accordion_wrapper">
                        <div class="cases__accordion_pagination">
                            <div class="cases__accordion_pagination_item active" data-index="1"></div>
                            <div class="cases__accordion_pagination_item" data-index="2"></div>
                            <div class="cases__accordion_pagination_item" data-index="3"></div>
                            <div class="cases__accordion_pagination_item" data-index="4"></div>
                            <div class="cases__accordion_pagination_item" data-index="5"></div>
                        </div>
                        <div class="cases__accordion_content">
                            <h2>Мастерская настроения</h2>
                            <p class="description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.</p>
                            <div>
                                <a href="https://www.youtube.com/watch?v=310z5K14JXw&list=PLoyECfvEFOjbdwpIOtm_8PFzB_CPAD2_H" class="button-white" target="_blank">Смотреть видео</a>
                                <a href="https://www.youtube.com/@LearnitTraining" class="button-white" target="_blank">
                                    <div></div>
                                    <div>Перейти на канал</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cases__accordion_item" data-index="2">
                    <div class="cases__accordion_wrapper">
                        <div class="cases__accordion_pagination">
                            <div class="cases__accordion_pagination_item" data-index="1"></div>
                            <div class="cases__accordion_pagination_item active" data-index="2"></div>
                            <div class="cases__accordion_pagination_item" data-index="3"></div>
                            <div class="cases__accordion_pagination_item" data-index="4"></div>
                            <div class="cases__accordion_pagination_item" data-index="5"></div>
                        </div>
                        <div class="cases__accordion_content">
                            <h2>Мастерская настроения</h2>
                            <p class="description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.</p>
                            <div>
                                <a href="https://www.youtube.com/watch?v=310z5K14JXw&list=PLoyECfvEFOjbdwpIOtm_8PFzB_CPAD2_H" class="button-white" target="_blank">Смотреть видео</a>
                                <a href="https://www.youtube.com/@LearnitTraining" class="button-white" target="_blank">
                                    <div></div>
                                    <div>Перейти на канал</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cases__accordion_item" data-index="3">
                    <div class="cases__accordion_wrapper">
                        <div class="cases__accordion_pagination">
                            <div class="cases__accordion_pagination_item" data-index="1"></div>
                            <div class="cases__accordion_pagination_item" data-index="2"></div>
                            <div class="cases__accordion_pagination_item active" data-index="3"></div>
                            <div class="cases__accordion_pagination_item" data-index="4"></div>
                            <div class="cases__accordion_pagination_item" data-index="5"></div>
                        </div>
                        <div class="cases__accordion_content">
                            <h2>Мастерская настроения</h2>
                            <p class="description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.</p>
                            <div>
                                <a href="https://www.youtube.com/watch?v=310z5K14JXw&list=PLoyECfvEFOjbdwpIOtm_8PFzB_CPAD2_H" class="button-white" target="_blank">Смотреть видео</a>
                                <a href="https://www.youtube.com/@LearnitTraining" class="button-white" target="_blank">
                                    <div></div>
                                    <div>Перейти на канал</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cases__accordion_item" data-index="4">
                    <div class="cases__accordion_wrapper">
                        <div class="cases__accordion_pagination">
                            <div class="cases__accordion_pagination_item" data-index="1"></div>
                            <div class="cases__accordion_pagination_item" data-index="2"></div>
                            <div class="cases__accordion_pagination_item" data-index="3"></div>
                            <div class="cases__accordion_pagination_item active" data-index="4"></div>
                            <div class="cases__accordion_pagination_item" data-index="5"></div>
                        </div>
                        <div class="cases__accordion_content">
                            <h2>Мастерская настроения</h2>
                            <p class="description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.</p>
                            <div>
                                <a href="https://www.youtube.com/watch?v=310z5K14JXw&list=PLoyECfvEFOjbdwpIOtm_8PFzB_CPAD2_H" class="button-white" target="_blank">Смотреть видео</a>
                                <a href="https://www.youtube.com/@LearnitTraining" class="button-white" target="_blank">
                                    <div></div>
                                    <div>Перейти на канал</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cases__accordion_item" data-index="5">
                    <div class="cases__accordion_wrapper">
                        <div class="cases__accordion_pagination">
                            <div class="cases__accordion_pagination_item" data-index="1"></div>
                            <div class="cases__accordion_pagination_item" data-index="2"></div>
                            <div class="cases__accordion_pagination_item" data-index="3"></div>
                            <div class="cases__accordion_pagination_item" data-index="4"></div>
                            <div class="cases__accordion_pagination_item active" data-index="5"></div>
                        </div>
                        <div class="cases__accordion_content">
                            <h2>Мастерская настроения</h2>
                            <p class="description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.</p>
                            <div>
                                <a href="https://www.youtube.com/watch?v=310z5K14JXw&list=PLoyECfvEFOjbdwpIOtm_8PFzB_CPAD2_H" class="button-white" target="_blank">Смотреть видео</a>
                                <a href="https://www.youtube.com/@LearnitTraining" class="button-white" target="_blank">
                                    <div></div>
                                    <div>Перейти на канал</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>