<section id="categories" class="categories">
    <div class="container">
        <div class="categories__wrapper">
            <div class="categories__header">
                <div class="categories__title title-block">
                    <h2>Мы охватываем следующие категории</h2>
                </div>
                <div>
                    <p class="description">
                        Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании модели развития.
                    </p>
                </div>
            </div>
            <ul class="categories__list">
                <li class="categories__item">
                    <h4>Строительство</h4>
                </li>
                <li class="categories__item">
                    <h4>Технологии</h4>
                </li>
                <li class="categories__item">
                    <h4>Медицина</h4>
                </li>
                <li class="categories__item">
                    <h4>Юмор</h4>
                </li>
                <li class="categories__item">
                    <h4>Анимация</h4>
                </li>
                <li class="categories__item">
                    <h4>Наука</h4>
                </li>
                <li class="categories__item">
                    <h4>Позновательное</h4>
                </li>
            </ul>
        </div>
    </div>
</section>