<div class="popup-overlay" data-popup="feedback">
    <div class="popup">
        <span class="popup-close">&times;</span>
        <h3>Напишите свои данные</h3>
        <form>
            <input class="form-item" type="text" id="name" name="name" required placeholder="Имя">
            
            <input class="form-item" type="email" id="email" name="email" required placeholder="Почта">
            
            <textarea class="form-item" id="message" name="message" rows="4" required placeholder="Комментарий"></textarea>
            
            <button type="submit">Отправить</button>
        </form>
    </div>
</div>