<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div>
                <a href="#hero">
                    <img src="./images/logo.svg" alt="logo">
                </a>
            </div>
            <div class="header__navigation">
                
                <a class="main_link" data-cs="1" href="#stats">Статистика</a>
            
            
                <a class="main_link" data-cs="2" href="#cases">Проекты</a>
            
            
                <a class="main_link" data-cs="3" href="#map">Страны</a>
            
            
                <a class="main_link" data-cs="4" href="#categories">Категории</a>
            
            
                <a class="main_link" data-cs="5" href="#peples">Люди</a>
            
            
                <a class="main_link" data-cs="6" href="#comp">Подборки</a>
            
            
                <a class="main_link" data-cs="7" href="#stages">Этапы работы</a>
            
            
                <a class="main_link" data-cs="8" href="#contact">Обратная связь</a>
                
            </div>
            <button class="button-white feedback-button" data-popup-trigger="feedback">
                Написать нам
            </button>
        </div>
    </div>
</header>