<section id="hero" class="hero">
    <div class="hero__video-background">
        <video autoplay muted loop playsinline>
            <source src="./videos/start_video.mp4" type="video/mp4">
            Ваш браузер не поддерживает видео.
        </video>
    </div>
    <div class="container">
        <div class="hero__wrapper">
            <div class="slider hero__content-wrapper">
                <div class="slider__wrapper">
                    <div class="slider__track">
                        <div class="slider__slide hero__content">
                            <h1>
                                Основное предложение
                            </h1>
                            <p class="description">
                                По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает
            у некторых людей недоумение при попытках прочитать рыбу текст.
                            </p>
                            <button class="button-white" data-popup-trigger="send-video">
                                Отправить видео
                            </button>
                        </div>
                        <div class="slider__slide hero__content">
                            <h1>
                                Основное предложение
                            </h1>
                            <p class="description">
                                По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает
            у некторых людей недоумение при попытках прочитать рыбу текст.
                            </p>
                            <button class="button-white" data-popup-trigger="send-video">
                                Отправить видео
                            </button>
                        </div>
                    </div>
                </div>
                <div class="slider__navigation">
                    <div class="slider__btn slider__btn-prev">
                        <img src="./images/icons/caret-left.svg" alt="chevron">
                    </div>
                    <ul class="slider__pagination">

                    </ul>
                    <div class="slider__btn slider__btn-next">
                        <img src="./images/icons/caret-left.svg" alt="chevron">
                    </div>
                </div>
            </div>
            <div class="hero__down">
                <img src="./images/icons/mouse.svg" alt="mouse">
                <img src="./images/icons/arrow_down.svg" alt="arrow_down">
            </div>
        </div>
    </div>
</section>