<section id="map" class="map">
    <div class="container">
        <div class="map__wrapper">
            <div class="map__header">
                <div class="map__title title-block">
                    <h2>Работаем с множеством стран</h2>
                </div>
                <div>
                    <p class="description">
                        По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
                    </p>
                </div>
            </div>
            <ul class="map__stats">
                <li class="map__stats_item animated-number-slide">
                    <h4>Россия</h4>
                    <span class="animated-number" data-start="0" data-end="36500000">0</span>
                </li>
                <li class="map__stats_item animated-number-slide">
                    <h4>Aнглия</h4>
                    <span class="animated-number" data-start="0" data-end="238600">0</span>
                </li>
                <li class="map__stats_item animated-number-slide">
                    <h4>Германия</h4>
                    <span class="animated-number" data-start="0" data-end="3812000">0</span>
                </li>
                <li class="map__stats_item animated-number-slide">
                    <h4>Корея</h4>
                    <span class="animated-number" data-start="0" data-end="36500000">0</span>
                </li>
                <li class="map__stats_item animated-number-slide">
                    <h4>франция</h4>
                    <span class="animated-number" data-start="0" data-end="923000">0</span>
                </li>
                <li class="map__stats_item animated-number-slide">
                    <h4>США</h4>
                    <span class="animated-number" data-start="0" data-end="12014000">0</span>
                </li>
                <li class="map__stats_item animated-number-slide">
                    <h4>ЧЕХИЯ</h4>
                    <span class="animated-number" data-start="0" data-end="812000">0</span>
                </li>
                <li class="map__stats_item animated-number-slide">
                    <h4>Китай</h4>
                    <span class="animated-number" data-start="0" data-end="17922000">0</span>
                </li>
            </ul>
        </div>
    </div>
</section>