<section id="stats" class="stats">
    <div class="container">
        <div class="stats__wrapper">
            <div class="stats__row">
                <div class="stats__header">
                    <div class="stats__title title-block">
                        <h2>Мы делаем большие цифры</h2>
                    </div>
                    <button class="button-white" data-popup-trigger="feedback">Написать нам</button>
                </div>
                <div class="stats__slide stats__line animated-number-slide" data-target="45">
                    <div class="stats__number">
                        <span class="stats__animated-number animated-number" data-start="0" data-end="45">45</span>
                        <span>млн</span>
                    </div>
                    <h3>Просмотров за месяц</h3>
                    <p class="description-small">Товарищи! сложившаяся структура организации позволяет выполнять важные задания по разработке модели развития.</p>
                </div>
            </div>
            <div class="stats__row">
                <div class="stats__slide animated-number-slide" data-target="25">
                    <div class="stats__number">
                        <span class="stats__animated-number animated-number" data-start="0" data-end="25">0</span>
                        <span>тыс</span>
                    </div>
                    <h3>Подписчиков в день</h3>
                    <p class="description-small">Товарищи! сложившаяся структура организации позволяет выполнять важные задания по разработке модели развития.</p>
                </div>
                <div class="stats__slide animated-number-slide" data-target="55">
                    <div class="stats__number">
                        <span class="stats__animated-number animated-number" data-start="0" data-end="55">55</span>
                        <span>%</span>
                    </div>
                    <h3>Какая-то информация</h3>
                    <p class="description-small">Товарищи! сложившаяся структура организации позволяет выполнять важные задания по разработке модели развития.</p>
                </div>
            </div>
        </div>
    </div>
</section>