@font-face {
    font-family: 'Value Sans Pro';
    src: url('../../fonts/ValueSansPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Value Sans Pro';
    src: url('../../fonts/ValueSansPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Value Sans Pro';
    src: url('../../fonts/ValueSansPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Value Sans Pro';
    src: url('../../fonts/ValueSansPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}